<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <iisnode
      nodeProcessCommandLine="node"
      devErrorsEnabled="true"
      loggingEnabled="true"
      logDirectory="iisnode"
      maxNamedPipeConnectionRetry="1000"
      namedPipeConnectionRetryDelay="250"
      nodeProcessCountPerApplication="1"
      flushResponse="false" />

    <!-- URL Rewrite Rules -->
    <rewrite>
      <rules>
        <rule name="Strip IISNode Named Pipe Prefix" stopProcessing="true">
          <match url="^/*(?:pipe/)?([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})/(.*)$" />
          <action type="Rewrite" url="/{R:2}" />
        </rule>

        <rule name="Node App" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.cjs" />
        </rule>
      </rules>
    </rewrite>

    <!-- Handlers -->
    <handlers>
      <add name="iisnode" path="server.cjs" verb="*" modules="iisnode" />
    </handlers>

  </system.webServer>

</configuration>
